img {
    max-height: 300px;
    max-width: 500px;
    transform: translate(18%, 0%)
    }

    h1 {
        text-align: center
    }

    .imgParent {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .imgChild {
        position: absolute;
        transform: translate(15%, 80%);
    }

    .accordionParent {
        flex-grow: 2;
        background-color: beige;
        height: 750px;
    }

    .box {
        display: flex;
        flex-direction: row;
    }
