/* img {
    height: 400px;
    width: 500px;
    } */

    h1 {
        text-align: center
    }

    .imgParent {
        position: relative;
        flex-grow: 2;
    }

    .imgChild {
        position: absolute;
        transform: translate(15%, 5%);
    }

    .accordionParent {
        flex-grow: 1;
        background-color: beige;
        height: 750px;
    }

    .box {
        display: flex;
        flex-direction: row;
    }