h1 {
    text-align: center;
    }
    
    
    img {
    height: 300px;
    width: 500px;
    flex: 1
    }

    .imgParent {
        position: relative;
    }
    
    .imgChild {
        position: absolute;
        top: 5%;
        left: 5%;
        transform: translate(0%, 25%);
    }
    
    p {
        text-align: right;
    }

    .singleTripAccordion {
        width: 500px;
        align-content: right;
    }
    