/* default styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
ul {
  list-style: none;
}

a {
  font-family: League Spartan;
  font-size: .8em;
  color:white;
  /* text-decoration: underline; */
}

a:visited {
  color:white;
}

a:hover {
  font-weight:bold;
}

/* navbar */
.navbar {
  background-color: #5f9ea0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 70px;
}
  
/* logo  */
.logo {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
  
  
  /* ul  */
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 60px;
  font-size: 25px;  
}
  